
.App{
  display: grid;
}
header{
  
}
.logo{
  max-width:100px;
  
}
.searcharea{
    -webkit-appearance: textfield;
  background-color: #eef1f4;
  border-radius: 0;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 1.3125rem;
  line-height: 1.28571em;
  margin: 0;
  max-width: 100%;
  padding: 1rem;
  width: 100%;
}
.submitButton{
  -webkit-box-align: center;
  align-items: center;
  background-color: #83b640;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 1.125rem;
  font-weight: 700;
  height: auto;
  letter-spacing: .09375rem;
  margin: 0;
  min-width: 15.25rem;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-delay: 0s;
  transition-duration: .2s;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  width: 100%;
}